@tailwind base;
@tailwind components;
@tailwind utilities;
/* Fonts */
@font-face {
  font-family: "BlackBones";
  src: url("../public/blackbones.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alatsi";
  src: url("../public/alatsi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@font-face {
  font-family: "fontspring";
  src: url("../public/Fontspring.otf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

/* Utility */
.font-inter {
  font-family: "Inter", sans-serif;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}
.font-blackbones {
  font-family: BlackBones;
}
.font-fontspring {
  font-family: fontspring;
}
.font-alatsi {
  font-family: alatsi;
}
.fade {
  animation: fade 2s ease-in-out;
}
.text-cyan {
  color: rgb(0, 162, 255);
}
.z-100 {
  z-index: 999999;
}
.z-no {
  z-index: -1;
}
/* Animations */
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bt {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes gradientscale {
  0% {
    opacity: 0;
    filter: blur(0px);
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    opacity: 1;
    filter: blur(150px);
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes moveballs {
  0% {
    left: 0;
    top: 0;
  }
}
@keyframes pipe1 {
  0% {
    transform: translate(-12vw, -21vh) scale(0);
  }
  25% {
    transform: translate(-12vw, 21vh) scale(1.1);
  }
  50% {
    transform: translate(0vw, 44vh) scale(1.1);
  }
  75% {
    transform: translate(12vw, 21vh) scale(1.1);
  }

  100% {
    transform: translate(24.5vw, 44.5vh) scale(1.1);
  }
}
@keyframes pipe2 {
  0% {
    transform: translate(1vw, -21vh) scale(0);
  }
  33.3% {
    transform: translate(1vw, 21vh) scale(1.1);
  }
  66.6% {
    transform: translate(13vw, 44vh) scale(1.1);
  }
  100% {
    transform: translate(25.3vw, 21vh) scale(1.1);
  }
}
@keyframes pipe3 {
  0% {
    transform: translate(14vw, -21vh) scale(0);
  }
  50% {
    transform: translate(14vw, 21vh) scale(1.1);
  }

  100% {
    transform: translate(26.1vw, 44vh) scale(1.1);
  }
}
/* HTML */
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(65, 240, 242, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

body {
  @apply text-black;
}

/* Home */
#preview {
  display: none;
  animation: 3s ease-in-out fade, 3s bt;
}
ul {
  background: white;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}
.Link {
  display: inline-block;
  position: relative;
}
.Link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.Link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.activelink {
  border-bottom: solid 2.5px #0087ca;
}
svg {
  display: inline-block;
  vertical-align: bottom;
}
/* -revolving balls */
#animation-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ball {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  animation: moveballs 3s ease-in-out;
  filter: blur(2px);
}

.ball-1 {
  background: linear-gradient(
      358.83deg,
      #00aeff 0.94%,
      rgba(0, 174, 255, 0) 98.98%
    ),
    linear-gradient(179.59deg, #00f0b5 0.36%, rgba(0, 240, 181, 0) 141.19%);
  width: 29px;
  height: 29px;
}

.ball-2 {
  width: 29px;
  height: 29px;
  background: linear-gradient(
      358.83deg,
      #e90064 0.94%,
      rgba(233, 0, 100, 0) 98.98%
    ),
    linear-gradient(179.59deg, #f9b5d0 0.36%, rgba(249, 181, 208, 0) 141.19%);
}

.ball-3 {
  width: 42px;
  height: 42px;
  background: linear-gradient(to bottom right, #4b0082, #9400d3);
  background: linear-gradient(
      358.83deg,
      #00aeff 0.94%,
      rgba(0, 174, 255, 0) 98.98%
    ),
    linear-gradient(179.59deg, #00f0b5 0.36%, rgba(0, 240, 181, 0) 141.19%);
}

.ball-4 {
  width: 42px;
  height: 42px;
  background: linear-gradient(
      358.83deg,
      #e90064 0.94%,
      rgba(233, 0, 100, 0) 98.98%
    ),
    linear-gradient(179.59deg, #f9b5d0 0.36%, rgba(249, 181, 208, 0) 141.19%);
}
/* -gradeint */
.hero-gradient-bg {
  z-index: -1;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 31vw;
  height: 70%;
}

.circle {
  position: absolute;
  filter: blur(9rem);
  transform: translate(-50%, -50%);
  width: 15vw;
  height: 30vh;
  border-radius: 50%;
}

.cyan {
  animation: gradientscale 2s ease-in-out;

  top: 135%;
  left: -50%;

  background-image: radial-gradient(circle at center, #00f0b5, #00aeff);
  background-clip: content-box;

}

.purple {
  animation: gradientscale 5s ease-in-out;
  top: 100%;
  left: 50%;
  background-image: radial-gradient(circle at center, #aa77ff, #00aeff);
  background-clip: content-box;

}

#cyan {
  animation: gradientscale 2s ease-in-out;
  top: 134%;
  left: 150%;

  background-image: radial-gradient(circle at center, #00f0b5, #00aeff);
  background-clip: content-box;

}
#purple {
  top: 134%;
  left: 52%;
  animation: gradientscale 5s ease-in-out;
  background-image: radial-gradient(circle at center, #aa77ff, #aa77ff);
  background-clip: content-box;

}
#cyan1 {
  top: 108%;
  left: 93%;
  animation: gradientscale 2s ease-in-out;
  background-image: radial-gradient(circle at center, #00f0b5, #00aeff);
  background-clip: content-box;

}
#cyan2 {
  top: 111%;
  animation: gradientscale 2s ease-in-out;
  left: 8%;
  background-image: radial-gradient(circle at center, #00f0b5, #00aeff);
  background-clip: content-box;

}
/* -counters */
.skatebar {
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: white;
  border-radius: 50px;
  border: 1px solid cyan;
}
#counter {
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.countsquare {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.countsquare:nth-child(1) {
  background-image: linear-gradient(
    267.43deg,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0) 100.47%
  );
  border: 1px solid #ffffff;
  filter: drop-shadow(1px 2px 5px rgba(233, 0, 100, 0.25));
  border-radius: 0px 10px 10px 10px;
  background-clip: content-box;

}
.countsquare:nth-child(2) {
  background-image: linear-gradient(
    267.43deg,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0) 100.47%
  );
  border: 1px solid #ffffff;
  filter: drop-shadow(1px 2px 5px rgba(233, 0, 100, 0.25));
  border-radius: 0px 10px 10px 10px;
  background-clip: content-box;

}
.countsquare:nth-child(3) {
  background-image: linear-gradient(
    267.43deg,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0) 100.47%
  );
  border: 1px solid #ffffff;
  filter: drop-shadow(1px 2px 5px rgba(233, 0, 100, 0.25));
  border-radius: 0px 10px 10px 10px;
  background-clip: content-box;
  

}
.login {
  background: linear-gradient(
      180deg,
      #aa77ff -61.5%,
      rgba(170, 119, 255, 0) 100%
    ),
    linear-gradient(269.62deg, #00f0b5 0.11%, rgba(0, 240, 181, 0) 98.77%),
    #00aeff;
  border-radius: 35px;
  width: 8.6vw;
  font-size: 1rem;
  height: 5.81vh;
}

/* Body */
.heading {
  text-align: center;
  font-family: Poppins;
}
.heading h1 {
  font-weight: 600;
  background: linear-gradient(90deg, #00f0b5 0%, rgba(0, 240, 181, 0.1) 100%),
    linear-gradient(270deg, #00aeff 0%, rgba(0, 174, 255, 0.1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.bodyimg1 {
  background: url("../public/bodyimage1bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.bodyimg2 {
  background: url("../public/bodyimage2bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.bodyimg3 {
  background: url("../public/bodyimage3bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}
/* Benefits */
.benefit-container {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  height: 90vh;
  position: absolute;
  width: 100%;
  z-index: -1;
}

/* responsiveness */
@media (max-width: 768px) {
  .circle {
    filter: blur(5rem);
  }
  .ball {
    display: none;
  }
  .countsquare{
    height: 10vh;
    width: 25vw;
  }
  .countsquare h6{
    font-size: 0.6rem;
  }
  .countsquare img{
    height: 3vh;
    width: 6vw;
    padding: 0.3rem;
  }
}
